.container{
    
    height: 100vh;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.frm{
    height: 300px;
    width: 400px;
    background-color: chartreuse;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
   
}

.frm input{
    width: 75%;
    height: 25px;
    margin-top: 20px;

}

.frm label{
    margin-top: 23px;        
}
